# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
*.env
*.venv

# Python distribution files
*.egg
*.egg-info/
dist/
build/
.eggs/

# Model and tensor files
*.safetensor
*.pt
*.pth

# IDEs and editors
.vscode/
.idea/
*.swp

saved_models/